[submodule "linux-aarch64"]
	path = linux-aarch64
	url = ./linux-aarch64
[submodule "linux-aarch64-clang"]
	path = linux-aarch64-clang
	url = ./linux-aarch64-clang
[submodule "linux-aarch64-rc"]
	path = linux-aarch64-rc
	url = ./linux-aarch64-rc
[submodule "linux-armv7"]
	path = linux-armv7
	url = ./linux-armv7
[submodule "linux-armv7-rc"]
	path = linux-armv7-rc
	url = ./linux-armv7-rc
[submodule "linux-riscv"]
	path = linux-riscv
	url = ./linux-riscv
[submodule "uboot-odroidm1-mainline"]
	path = uboot-odroidm1-mainline
	url = ./uboot-odroidm1-mainline
[submodule "uboot-odroidn1-mainline"]
	path = uboot-odroidn1-mainline
	url = ./uboot-odroidn1-mainline
[submodule "uboot-rockpi5b-mainline"]
	path = uboot-rockpi5b-mainline
	url = ./uboot-rockpi5b-mainline
[submodule "linux-riscv-rc"]
	path = linux-riscv-rc
	url = ./linux-riscv-rc
